* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto Mono", monospace;
  color: white;
}
.text-primary {
  text-align: center;
  margin: 10rem;
  font-size: 50px;
}
article {
  text-align: center;
}
.links a {
  margin: 0px 18px;
  font-size: 30px;
  color: whitesmoke;
  transition: transform 0.3s ease;
}

.links a:hover {
  transform: scale(1.2);
}

.text-primary {
  text-align: center;
  margin: 10rem auto;
  font-size: 50px;
}

.text-primary h1 {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.text-primary h1.active {
  visibility: visible;
  opacity: 1;
}

.text {
  text-align: center;
}

.text.active {
  opacity: 1;
}

.about {
  display: inline-block;
  visibility: hidden;
}

.projects {
  display: inline-block;
  visibility: hidden;
}
.contact {
  display: inline-block;
  visibility: hidden;
}
